@model List<Smoothboard.Models.Domain.Order>

@{
    // C# code if needed
}

<h1>Current Orders</h1>

<!-- Table to display the list of orders -->
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Drop Off Date</th>
            <th>Width in cm</th>
            <th>Length in cm</th>
            <th>DesignLink</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        <!-- Loop through each order in the Model to populate the table rows -->
        @foreach (var order in Model)
        {
            <tr>
                <!-- Display order details in each cell -->
                <td>@order.Id</td>
                <td>@order.Name</td>
                <td>@order.Email</td>
                <td>@order.Address</td>
                <td>@order.Phone</td>
                <td>@order.DropOffDate.ToString("dd-MM-yyyy")</td>
                <td>@order.Width</td>
                <td>@order.Length</td>
                <td>@order.DesignLink</td>
                <td><a class="btn btn-success text-light" href="Orders/View/@order.Id">EDIT</a></td>
            </tr>
        }
    </tbody>
</table>
